<div class="col-md-4">
  <div data-hook="admin_inside_taxonomy_form" class="form-group">

  </div>
</div>

<div class="col-md-4">
  <p>
    <%= f.label :name, Spree.t(:store) %>
    <span class="required">*</span>
    <br />
    <%#= collection_select :taxonomy, :store_id, Spree::Store.all, :id, :name  %>
  </p>
</div>